.InfoPanel {
  border: 1px solid $color_gray;
  margin: 5px 0;
  padding: 5px;
  padding-top: 0;

  &__title {
    font-size: 18px;
    background: $color_dark;
    height: 20px;
    padding: 0 5px;
    transform: translate(5px, -10px);
    display: inline-block;
  }
}
