.extraClass {
  background: $color_black !important;
  color: $color_primary !important;
  opacity: 1 !important;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5) !important;

  &.place-top {
    &:after {
      border-top-color: $color_black !important;
    }
  }

  &.place-left {
    &:after {
      border-left-color: $color_black !important;
    }
  }

  &.place-right {
    &:after {
      border-right-color: $color_black !important;
    }
  }

  &.place-bottom {
    &:after {
      border-bottom-color: $color_black !important;
    }
  }
}
