@import "reset-css";

.App {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

// BASE
@import "./base/colors.scss";
@import "./base/typography.scss";
@import "./base/util.scss";
// COMPONENTS
@import "./components/button.scss";
@import "./components/input.scss";
@import "./components/checkbox.scss";
@import "./components/select.scss";
@import "./components/toast.scss";
@import "./components/spinner.scss";
@import "./components/modal.scss";
@import "./components/tooltip.scss";
// VIEWS/PAGES
@import "./views/Home/home.scss";
@import "./views/Home/login.scss";
@import "./views/Home/register.scss";
@import "./views/Main/main.scss";
@import "./views/Main/topbar.scss";
@import "./views/Main/bottombar.scss";
@import "./views/Main/sidebar.scss";
