.AuctionInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__name {
    background: $color_highlight;
    padding: 5px 10px;
    font-size: 18px;

    & > p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__creation-date {
    color: $color_gray;
    font-style: italic;
    font-size: 16px;
  }

  &__carousel {
    margin: 5px 0;

    & div,
    & ul {
      height: 250px;
    }

    & img {
      height: 100%;
      width: 100%;
    }
  }

  &__description {
    height: 100px;
    overflow-y: scroll;
  }

  &__actions {
    &--bid {
      @include button($color_info, $color_primary);
    }

    &--buyout {
      @include button($color_success, $color_primary);
    }

    &--watch {
      @include button($color_highlight, $color_primary);
    }
  }
}

.Price > p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: darken($color_dark, 5);
  padding: 5px;
  margin-top: 2px;
  border-radius: 3px;
}
