.Browse {
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > p {
      font-size: 18px;
      color: $color_primary;
      background: $color_highlight;
      width: 100%;
      text-align: center;
      padding: 5px 0;
    }
  }

  &__right {
    max-width: 450px;
  }
}
