.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 15px 0;
  background: $color_dark;

  &__control {
    cursor: pointer;
  }

  & > span {
    margin: 0 5px;

    & > input {
      background: $color_highlight;
      border: none;
      padding: 5px;
      margin: 0 10px;
      border-radius: 3px;
      font-size: 18px;
      color: $color_primary;
    }
  }
}
