.SearchResults {
  width: 100%;
  margin-top: 30px;

  .Auction {
    &__id {
      color: $color_secondary;
      font-weight: 700;
    }
  }

  &__seller {
    width: 150px;
    max-width: 150px;

    & p {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      padding: 0 5px;
      white-space: nowrap;
    }
  }

  &__time-left {
    color: $color_danger;
    width: 100px;

    & > p {
      width: 100%;
      padding: 0 5px;
    }
  }

  &__name {
    & > div {
      display: inline-block;
      vertical-align: middle;
      max-width: 350px;

      & > p {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;
        white-space: nowrap;
      }
    }
  }

  &__price {
    max-width: 150px;
    width: 150px;
  }

  &__bid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;
    margin-bottom: 2px;

    &--value {
      color: $color_info;
    }
  }

  &__buyout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;

    &--value {
      color: $color_success;
    }
  }

  & > thead {
    background: $color_highlight;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);

    & > tr > th {
      padding: 5px;
      text-align: left;

      &:after {
        content: "▾";
        margin-left: 5px;
      }
    }
  }

  & > tbody {
    border-collapse: separate;
    border-spacing: 10px;
    & img {
      height: 50px;
      width: 75px;
      vertical-align: middle;
      margin: 5px;
      border-radius: 3px;
    }

    & > tr {
      box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      cursor: pointer;
      & > td {
        vertical-align: middle;
      }
    }
  }
}

.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 15px 0;
  background: $color_dark;

  &__control {
    cursor: pointer;
  }

  & > span {
    margin: 0 5px;

    & > input {
      background: $color_highlight;
      border: none;
      padding: 5px;
      margin: 0 10px;
      border-radius: 3px;
      font-size: 18px;
      color: $color_primary;
    }
  }
}
