.Register {
  @extend .Login;

  &__no-account {
    color: $color_gray;
    margin-left: 20px;
    text-decoration: underline;
    cursor: pointer;
  }

  &-enter {
    opacity: 0;
    transform: translateY(-1000px);
  }

  &-enter-active {
    opacity: 1;
    transform: translateY(1000px);
    transition: all 500ms ease-in-out;
  }

  &-exit {
    opacity: 1;
    transform: translateY(0px);
  }

  &-exit-active {
    opacity: 0;
    transform: translateY(1000px);
    transition: all 500ms ease-in-out;
  }
}
